<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trello Board</title>
        <link rel="stylesheet" href="../styles/app.css">
    </head>
    <body>
        <header>
            <div class="left-header">
                <ul>
                    <li><a><i class="fas fa-home"></i></a></li>
                    <li><a class="boards-btn"><img src="../images/logo.png">Boards</a></li>
                    <li class="search-field"><input type="text" class="search"><i class="fas fa-search search-icon"></i></li>
                </ul>
            </div>
            <div class="brand">
                <a href="/views/index.html"><img src="../images/trello-logo-white.svg"></a>
            </div>
            <div class="right-header">
                <ul>
                    <li><a href=""><i class="fas fa-plus"></i></a></li>
                    <li><a href=""><i class="fas fa-info"></i></a></li>
                    <li><a href=""><i class="fas fa-bell"></i></a></li>
                    <li class="username"><a href="" title="Sandeep Menta (sandeepmenta1)">SM</a></li>
                </ul>
            </div>
        </header>
        <main>
            <div class="board-wrapper">
                <div class="board-header">
                    <h1>Board Name</h1>
                    <ul>
                        <li><a href=""><i class="fas fa-star"></i></a></li>
                        <li><a href=""><span class="board-type">Personal</span></a></li>
                        <li><a href=""><span class="board-category"><i class="fas fa-lock"></i> Private</span></a></li>
                        <li><a href=""><span>Members</span></a></li>
                    </ul>
                </div>
                <div class="board-main-content">
                    <div class="board">
                    </div>
                </div>
            </div>
        </main>
        <script src="https://kit.fontawesome.com/772edf82c0.js" crossorigin="anonymous"></script>
        <script type="module" src="../scripts/app.js"></script>
    </body>
</html>